.wrapper{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: auto;
}
.tableTitle,
.tableBody>div{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	position: relative;
	width: fit-content;
	height: auto;
}
.tableBody{
	display: flex;
	flex-direction: column;
	position: relative;
	width: fit-content;
	height: auto;
}
.tableTitle p,
.tableBody>div p{
	display: inline-block;
	position: relative;
	width: 42px;
	height: auto;
	padding: 5px;
	text-align: center;
}
.tableTitle p:nth-child(2),
.tableTitle p:nth-child(3),
.tableBody>div p:nth-child(2){
	width:  150px;
}
.tableBody>div input:nth-child(3){
	width: 154px;
	text-align: center;
}
.tableTitle p:nth-child(4){
	width: 85px;
}
.tableBody>div input:nth-child(4){
	width:  89px;
	text-align: center;
}
.tableTitle p:last-child{
	width: 90px;
}
.tableBody>div input:nth-child(5){
	width:  94px;
	text-align: center;
}
.link{
	margin-bottom:  15px;
}
.notInput{
	border: 1px solid transparent;
	pointer-events: none;
	resize: none;
}
.modifyBlock{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	position: relative;
	width: auto;
	height: 100%;
	margin-left: 10px;
}
.editBtn{
	position: relative;
	margin-right: 7px;
}
.navigateBlock{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	position: relative;
	width: 100%;
	height: auto;
}
.startBtn,
.stopBtn{
	display: inline-block;
	position: relative;
	width: 100px;
	height: auto;
}
.startBtn{
	margin: 0 10px;
}