/*
* Browsers: last 4 version
*/

.wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	position: relative;
	width: 100%;
	height: auto;
}
.tableTitle,
.tableBody>div{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
	width: auto;
	height: auto;
}
.tableTitle{
	display: none;
}
.tableBody>div{
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.tableBody{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	position: relative;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	height: auto;
}
.tableBody>div{
	padding: 10px;
	border-bottom: 1px solid grey;
}
.tableTitle p,
.tableBody>div p{
	display: inline-block;
	position: relative;
	width: 36px;
	height: auto;
	padding: 5px;
	text-align: center;
}
.tableBody>div>p:first-child{
	font-weight: 600;
}
.tableBody>div>label{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width:  65px;
}
.tableBody>div textarea{
	width:  160px;
}
.tableBody .point.notTextarea{
	width: 160px;
}
.tableBody .point{
	width:  154px;
}
.tableBody .time{
	width:  120px;
}
.tableBody .duration.notInput{
	width: 100%;
	text-align: center;
}
.tableBody .duration{
	width: calc(100% - 2px);
}
.durationBlock,
.speedBlock,
.recSpeedBlock,
.distanceBlock{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	position: relative;
	width:  50%;
	height:  auto;
	margin-bottom:  10px;
}
.durationBlock label,
.speedBlock label,
.recSpeedBlock label,
.distanceBlock label{
	text-align: center;
}
.tableBody .speed.notInput{
	width:  100%;
	text-align: center;
}
.tableBody .speed{
	width:  calc(100% - 2px);
}
.tableBody .distance.notInput{
	width:  100%;
	text-align: center;
}
.tableBody .distance{
	width: calc(100% - 2px);
}
.tableBody .timetable{
	width: 60px;
}
.tableBody .recSpeed.notInput{
	width:  100%;
}
.tableBody .recSpeed{
	text-align: center;
	width:  calc(100% - 2px);
}
.timetable.later{
	color:  #ff5858;
}
.timetable.early{
	color:  #42bd42;
}
.link{
	margin-bottom:  15px;
}
.notInput{
	border: 1px solid transparent;
	pointer-events: none;
	resize: none;
}
.modifyBlock{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	position: relative;
	width: auto;
	height: 100%;
	margin-left: 10px;
}
.editBtn{
	position: relative;
	margin-right: 7px;
}
.navigateBlock{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	position: relative;
	width: 100%;
	height: auto;
	margin:  20px 0;
	padding:  10px 0;
}
.navigateBlock>a{
	display: inline-block;
	position: relative;
	width: 80px;
	height: auto;
}
.startBtn,
.stopBtn,
.pauseBtn{
	display: inline-block;
	position: relative;
	width: 100px;
	height: auto;
}
.pauseBtn{
	display: none;
}
.pauseBtn.show{
	display: inline-block;
	margin:  0 10px;
}
.startBtn{
	margin: 0 10px;
}
.startBtn.activePause{
	margin: 0 0 0 10px;
}
.passedPoint,
.passedPoint .notInput{
	background: #ff9a9a;
}
.actPoint,
.actPoint .notInput{
	background:  #ffbb40;
}
@media (min-width:  992px){
	.tableTitle{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.tableTitle p{
		width:  35px;
	}
	.tableTitle p:first-child{
		padding-left: 10px;
	}
	.tableBody>div p{
		width: 30px;
	}
	.tableTitle .status{
		width:  55px;
	}
	.tableTitle .point{
		width:  150px;
	}
	.tableTitle .duration{
		width:  70px;
	}
	.tableTitle .speed{
		width: 85px;
	}
	.tableTitle .recSpeed{
		width: 130px;
	}
	.tableTitle .distance{
		width: 90px;
	}
	.tableTitle .time{
		width:  120px;
	}
	.tableTitle .timetable{
		width: 60px;
	}
	.durationBlock label,
	.speedBlock label,
	.recSpeedBlock label,
	.distanceBlock label{
		display: none;
	}
	.durationBlock,
	.speedBlock,
	.recSpeedBlock,
	.distanceBlock{
		width: auto;
	}
	.tableBody .duration.notInput{
		width: 74px;
		text-align: center;
	}
	.tableBody .duration{
		width: 72px;
	}
	.tableBody .speed.notInput{
		width: 89px;
	}
	.tableBody .speed{
		text-align: center;
		width: 87px;
	}
	.tableBody .recSpeed.notInput{
		width: 134px;
	}
	.tableBody .recSpeed{
		text-align: center;
		width: 132px;
	}
	.tableBody .distance.notInput{
		width:  94px;
		text-align: center;
	}
	.tableBody .distance{
		width: 92px;
	}
	.navigateBlock>a{
		width: 130px;
	}
}