.addForm{
	display: flex;
	flex-direction: column;
	position: relative;
	width:  auto;
	height: auto;
	margin-top: 15px;
}
.addForm label:nth-child(2){
	margin: 15px 0;
}
.addForm label:nth-child(4){
	margin-top: 15px;
}
.addForm button{
	position: relative;
	width:  80px;
	margin-top: 15px;
}
.hideInfoMes{
	display: none;
}